*,*::after, *::before {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
display: flex;
flex-direction: column;
justify-content: space-between;
min-height: 100vh;

}

/* Начало гол=овы */
.container {
max-width: 1920px;
margin: 0 auto;
}

.logo p {
font-family: 'Revalia', cursive;
font-size: 20px;
font-weight: 600;
color: #34547A;
line-height: 13px;
margin-left: 50px;
margin-top: 15px;
    
}

.logo {
margin-top: 3px;

}

.logo :hover{
color:orange;

}
    
.logo a {
text-decoration: none;


}

.header_container {
display: flex;
justify-content: space-between;

background-color: rgb(255, 255, 255);
}

.nav ul {
display: flex;
justify-content: space-between;


}

.nav li {

margin-right: 100px;
margin-top: 30px;


font-family: 'Roboto', sans-serif;
font-size: 25px;
font-weight: 500;
color: #34547A;


}

.nav :last-child {
margin-right: 70px;
}

.nav a {
text-decoration: none;
}

.nav li:hover{
color:orange;
font-weight: 10px;
}


/* блок с илюшой */
.main {
background-color: #EEEFF1;
margin-top: 20px;
width: auto;
height: 380px;
}
    
.main section {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 54px;
    
margin-left: 100px;
margin-top: 50px;
    
}
    
.text_b h2 {
color:#757575;
margin-top: -50px;
line-height: 100px;
}
    
.section_container img {
margin-left: 750px;
margin-top: -340px;
}

/* блок обо мне */
.author h2 {
text-align: center;

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 32px;

margin-top: 80px;
}

.author p {
text-align: center;

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
color: #727272;

margin-top: 15px;
margin-left: auto;
margin-right: auto;
width: 26em;

}



/* синие проекты */
.works {
width: 98vmax;
height: 150px;
margin: 0 auto;

background-color: #34547A;
margin-top: 80px;

display: flex;
justify-content: space-between;

}

/* внутри синих проектов */
.projects {
display: flex;
justify-content: space-between;

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 15px;
color: whitesmoke;

align-items: center;

line-height: 13px;



}

.projects img {
margin-left:40px;

}


/* мои навыки */
.skills {
display: flex;
justify-content: space-between;
margin-top: 80px;
margin-right: 200px;



}

.skills img {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 55px;



width: 350px;

}

.skills h2 {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 32px;
margin-left: 200px;

}


.subskills {
margin-left: -300px;

}

.subskills h3 {

border-radius: 30px;
width: 200px;

background-color: #34547A;
color: aliceblue;
font-family: cursive;

}

.subskills p {
font-family: 'Verdana', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
margin-top: 80px;

}


/* фотокарточки чтото там */
.photo {
height: 480px;
margin-top: 120px;
margin-left: 45px;


}

.page img {
width: 240px;
height: 240px;
margin-left: -4px;

}

.microsoft {
display: flex;
justify-content: space-between;
margin-top: 40px;
}

.microsoft img {
width: 10%;
margin-left: auto;
margin-right: auto;
}

/* контакты */

.contacts {

background-color: #EEEFF1;
height: 400px;
margin-top: 200px;
}

.contacts h2 {
display: flex;
justify-content: space-between;

text-align: center;

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 5\600;
font-size: 32px;

margin-top: 60px;
margin-left: 500px;

}

.contacts button {

height: 40px;
width: 200px;
border: 1px solid #34547A;
border-radius: 10px;
color: white;
background-color: #34547A;

margin-top: 200px;
margin-left: 520px;
}


/* дно */

.flex {
display: flex;
justify-content: space-between;

width: 98,5vmax;
height: 75px;
margin: 0 auto;

background-color: #34547A;
margin-top: 80px;

}

.flex img {
width: 40%;

}

.flex :hover{
color:orange;
font-weight: 10px;
    
}

.flex p {
   
display: flex;
justify-content: space-between;
            
font-family: 'Revalia', cursive;
font-size: 20px;
font-weight: 500;
color: whitesmoke;
line-height: 13px;
align-items: center;

margin-left: -200px;

}

.flex a {
display: flex;
justify-content: space-between;
    
font-family: 'Revalia', cursive;
font-size: 20px;
font-weight: 500;
color: whitesmoke;
line-height: 13px;
align-items: center;

text-decoration: none;
margin-left: 50px;

}


@media all and (max-width: 300px){
body {
overflow-x: hidden;
}
.logo p {
margin-left: 20px;
margin-top: 25px;

font-size: 27px;
line-height: 30px;

}

.nav {
margin-right: 90px;
height: 130px;


}

.nav ul {

width: 100px;
height: 100px;
transform: translate(-650px);

display: grid;
grid-template-columns: repeat(2, 2fr);



}


.main {
width: 480px;
height: 600px;

}

.text_a h1 {
font-size: 35px;
margin-left: -70px;
}

.text_b h2 {
font-size: 35px;
margin-left: -70px;
}

.section_container img {
width: 30%;
margin-bottom: 300px;
margin-left: 300px;
}

.author h2 {
margin-right: 600px;
margin-top: 40px;
}

.author p {
margin-right: 650px;
margin-top: 20px;
width: 400px;
margin-bottom: -20px;
}

.works {
width: 460px;
margin-right: 615px;

height: 250px;
}

.projects {
display: grid;
grid-template-columns: repeat(3, 2fr);
margin: 0 auto;

font-size: 19px;
}

.projects img {
width: 30%;
}

.skills h2 {
white-space: nowrap;
margin-left: 140px;
margin-top: -25px;

}

.subskills {
margin-left: -300px;
margin-top: -20px;
}

.subskills p {
width: 480px;
}

.subskills h3 {
margin-bottom: -50px;
}

.skills img {
margin-right: 300px;
margin-top: 250px;

transform: translate(-250px);

width: 20%;
height: 20%;
}

.photo {
width: 480px;
height: 1000px;

grid-template-columns: repeat(2, 5fr);
margin-left: -5px;

margin-top: 60px;
margin-bottom: 60px;
}

.contacts {
width: 480px;
margin-bottom: 180px;
}

.contacts h2 {
margin-left: 100px;
}

.contacts button {
margin-left: 135px;
}

.microsoft {
height: 200px;
width: 480px;

}

.microsoft img {
width: 110px;
height: 60%;
margin-left: 0px;

transform: translateY(450px);

}


.footer {
width: 480px;
margin-top: -40px;
}
.flex a {
margin-left: 300px;
margin-right: -50px;
}

.flex img {
transform: translate(-300px);
}

.flex p {
transform: translate(-300px);

}
} 
