*,*::after, *::before {
margin: 0;
padding: 0;
box-sizing: border-box;

}

html {
overflow-x: hidden;

}

body {
display: flex;
flex-direction: column;
justify-content: space-between;
min-height: 100vh;

}

body a {
text-decoration: none;

}

.container {
max-width: 1920px;
margin: 0 auto
        
}

.container img {
    width: 150px;
    height: 100%;

}

.container p {
    color: burlywood;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.grid0 {
    text-align: center;

}

.section_container img{
    max-width: 1920px;
    margin: 0 auto;


    width: 150px;
    height: 100%;
    
}

.section_container p {
    color: burlywood;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;

}

.section_container {
    display: grid;
    grid-template-columns: repeat(3, 5fr);
    grid-gap: 20px 20px;

    padding-left: 200px;
    padding-right: 200px;
   

}

.grid {
    border: 1px solid white;

}