@font-face {
    font-family: NSC;
    src: url(./fonts/NeoSansCyr-Light.ttf);

}

@font-face {
    font-family: Porsche;
    src: url("./fonts/Porsche.ttf");

}

@font-face {
    font-family: CGR;
    src: url("./fonts/CenturyGothicRegular.ttf");
    font-style: normal;
    font-weight: normal;

}



*,*::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    overflow-x: hidden;

}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background: #eee;
    color: #000;
    font: 400 12px 'Open Sans';
    overflow-x: hidden;

}

body a {
    text-decoration: none;

}

.container {
    max-width: 900px;
    margin: 0 auto;
    

}



.header_container {
    height: 80px;
    width: 100vmax;

    display: table-cell;
    vertical-align: middle;
}

.header_container h1 {
    font-family: CGR;
    font-size: 20px;

    padding-left: 20px;

}

.header_container span {
    font-family: Porsche;
    padding-left: 15px;

}

.browser {
    width: 900px;
    height: 584px;

    background: url(./img/browser.svg) 50% -170px / 924px no-repeat;

}



.sites {
    display: grid;
    grid-template-columns: repeat(4, 5fr);
    grid-gap: 40px 20px;

    padding-left: 80px;
    padding-right: 80px;
    padding-top: 120px;
    
}

.site img{
    max-width: 1920px;
    margin: 0 auto;


    width: 150px;
    height: 100%;
    
}

.site p {
    color: burlywood;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

    font-family: NSC;
    font-weight: 800;
    font-size: 15px;

}
