@font-face {
  font-family: NeoSansCyr;
  src: url(../fonts/NeoSansCyr-Light.ttf);
}

@font-face {
  font-family: LightAlex;
  src: url(../fonts/NeoSansCyr-Light.ttf);
}

@font-face {
  font-family: CGR;
  src: url("../fonts/CenturyGothicRegular.eot");
  src: url("../fonts/CenturyGothicRegular.eot#iefix") format("embedded-opentype"), url("../fonts/CenturyGothicRegular.woff") format("woff"), url("../fonts/CenturyGothicRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: SignPainter;
  src: url("../SignPainter.otf");
  font-style: normal;
  font-weight: normal;
}

/*@font-face {
	font-family: SignPainter_Bold;
	src: url("../fonts/SignPainter-bold.otf");
	font-style: normal;
	font-weight: normal;
}*/
body {
  width: 100vw;
  height: 100%;
  margin: 0px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  /*background:url(../img/bg/1.jpg) no-repeat 50% 50%;
	background-size:cover;*/
  /*background:#fff;*/
  background: #000;
  overflow: hidden;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.item.gaming a {
  text-decoration: none;
  color: #fff;
}

.item.lacs a {
  text-decoration: none;
  color: #fff;
}

@-webkit-keyframes logoAnimShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logoAnimShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes logoAnim {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0;
    /*top: 0;
		left: 0;*/
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  2% {
    opacity: 1;
    /*top: -10px;
		left: -10px;*/
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  3% {
    opacity: 0;
    /*top: 0;
		left: 0;*/
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  4% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  17% {
    opacity: 1;
  }
  18% {
    opacity: 0;
  }
  19% {
    opacity: 1;
  }
  /*95% {
		opacity: 1;
	}
	96% {
		opacity: 0;
	}
	97% {
		opacity: 1;
	}
	98% {
		opacity: 0;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}*/
  /*90% {
		opacity: 1;
	}
	91% {
		opacity: 0;
	}
	94% {
		opacity: 1;
	}
	96% {
		opacity: 0;
	}*/
  100% {
    opacity: 1;
  }
}

@keyframes logoAnim {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0;
    /*top: 0;
		left: 0;*/
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  2% {
    opacity: 1;
    /*top: -10px;
		left: -10px;*/
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  3% {
    opacity: 0;
    /*top: 0;
		left: 0;*/
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  4% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  17% {
    opacity: 1;
  }
  18% {
    opacity: 0;
  }
  19% {
    opacity: 1;
  }
  /*95% {
		opacity: 1;
	}
	96% {
		opacity: 0;
	}
	97% {
		opacity: 1;
	}
	98% {
		opacity: 0;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}*/
  /*90% {
		opacity: 1;
	}
	91% {
		opacity: 0;
	}
	94% {
		opacity: 1;
	}
	96% {
		opacity: 0;
	}*/
  100% {
    opacity: 1;
  }
}

.glitch {
  -webkit-animation: logoAnim 1s 1 linear !important;
          animation: logoAnim 1s 1 linear !important;
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.logo-block {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: transform 0.5s ease-in-out 1.5s, opacity 0.5s ease-in-out 1.5s;
  -webkit-transition: opacity 0.5s ease-in-out 1.5s, -webkit-transform 0.5s ease-in-out 1.5s;
  transition: opacity 0.5s ease-in-out 1.5s, -webkit-transform 0.5s ease-in-out 1.5s;
  transition: transform 0.5s ease-in-out 1.5s, opacity 0.5s ease-in-out 1.5s;
  transition: transform 0.5s ease-in-out 1.5s, opacity 0.5s ease-in-out 1.5s, -webkit-transform 0.5s ease-in-out 1.5s;
}

#logo {
  position: absolute;
  visibility: visible;
  width: 100%;
  top: 50%;
  margin: -35px 0 0 0;
  text-align: center;
  color: #fff;
  text-decoration: none;
  z-index: 2;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-transition: visibility 0s linear 0s;
  transition: visibility 0s linear 0s;
  /*&.active {
		animation: logoAnim 1s 1 linear;
		opacity: 0;
	}*/
}

#logo.show {
  -webkit-animation: logoAnimShow 1s 1 linear;
          animation: logoAnimShow 1s 1 linear;
}

#logo h1 {
  margin: 0;
}

#logo h1 span {
  font: 400 23px CGR;
}

#logo h2 {
  margin: 8px 0 0;
  font: 400 14px NeoSansCyr;
}

.lightalex-logo {
  display: inline-block;
  width: 250px;
  height: 63px;
  /* background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20id%3D%22Full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20180%2060%22%20enable-background%3D%22new%200%200%20180%2060%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%20id%3D%22l1%22%3E%3Cg%20id%3D%22l2%22%3E%3Cg%3E%3Cpolygon%20fill%3D%22%23FFFFFF%22%20points%3D%2235%2C11.5%2015.9%2C49.2%2037%2C36.5%2023%2C42.4%2034.6%2C15.9%22%2F%3E%3Cpolygon%20fill%3D%22%23FFFFFF%22%20points%3D%22116.8%2C10.8%20100.8%2C48.5%20114.6%2C23.5%20116.8%2C42.3%20118.8%2C34.3%22%2F%3E%3Cg%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M46.7%2C39.6h-1.8v-9.7h1.8V39.6z%22%2F%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M60.5%2C31.3h-7.7v6.9h7.7v-2.7h-4v-1.3h5.8v3.2c0%2C0.9-0.2%2C1.5-0.5%2C1.8c-0.3%2C0.3-1%2C0.5-1.9%2C0.5h-6.6c-0.9%2C0-1.6-0.2-1.9-0.5c-0.3-0.3-0.5-0.9-0.5-1.8v-5.1c0-0.9%2C0.2-1.5%2C0.5-1.8c0.3-0.3%2C1-0.5%2C1.9-0.5h6.6c0.9%2C0%2C1.5%2C0.2%2C1.9%2C0.5s0.5%2C0.9%2C0.5%2C1.7v0.3l-1.8%2C0.3V31.3z%22%2F%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M66.4%2C39.6v-9.7h1.8v3.9H76v-3.9h1.8v9.7H76v-4.3h-7.8v4.3H66.4z%22%2F%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M87%2C31.3v8.3h-1.8v-8.3h-4.6v-1.4h11.1v1.4H87z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M127.1%2C39.6v-9.8h1.8v8.3h7.6v1.5H127.1z%22%2F%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M139.4%2C39.6v-9.8h9.8v1.4h-8v2.5h4.8v1.4h-4.8v2.9h8.1v1.4H139.4z%22%2F%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M151.3%2C39.6l4.9-5l-5-4.8h2.5l3.5%2C3.5l3.2-3.5h2.3l-4.5%2C4.5l5.5%2C5.2h-2.6l-3.9-4l-3.5%2C4H151.3z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E) 50% 50%/250px no-repeat; */
  margin: -14px 0 0;
  font-size: 0;
  vertical-align: middle;
  
  font-family: NeoSansCyr;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
    
    color: #FFF;
    mix-blend-mode: multiply;
}

.lightalex-logo + span {
  margin-left: -13px;
}

.lightalex-logo.small {
  width: 230px;
  height: 47px;
  margin: -12px 0 0;
  background-size: 230px;
}

.lightalex-logo.small + span {
  position: relative;
  top: 2px;
  margin-left: -10px;
}

.list {
  position: fixed;
  display: table;
  visibility: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0s linear 2s;
  transition: visibility 0s linear 2s;
}

.list .list-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.list .item {
  position: relative;
  margin: 50px 0;
  cursor: default;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}

.list .item:nth-of-type(1) {
  -webkit-transition: transform 0.5s ease-in-out 1s, opacity 0.5s ease-in-out 0.6s;
  -webkit-transition: opacity 0.5s ease-in-out 0.6s, -webkit-transform 0.5s ease-in-out 1s;
  transition: opacity 0.5s ease-in-out 0.6s, -webkit-transform 0.5s ease-in-out 1s;
  transition: transform 0.5s ease-in-out 1s, opacity 0.5s ease-in-out 0.6s;
  transition: transform 0.5s ease-in-out 1s, opacity 0.5s ease-in-out 0.6s, -webkit-transform 0.5s ease-in-out 1s;
}

.list .item:nth-of-type(2) {
  -webkit-transition: transform 0.5s ease-in-out 1.2s, opacity 0.5s ease-in-out 0.4s;
  -webkit-transition: opacity 0.5s ease-in-out 0.4s, -webkit-transform 0.5s ease-in-out 1.2s;
  transition: opacity 0.5s ease-in-out 0.4s, -webkit-transform 0.5s ease-in-out 1.2s;
  transition: transform 0.5s ease-in-out 1.2s, opacity 0.5s ease-in-out 0.4s;
  transition: transform 0.5s ease-in-out 1.2s, opacity 0.5s ease-in-out 0.4s, -webkit-transform 0.5s ease-in-out 1.2s;
}

.list .item:nth-of-type(3) {
  -webkit-transition: transform 0.5s ease-in-out 1.4s, opacity 0.5s ease-in-out 0.2s;
  -webkit-transition: opacity 0.5s ease-in-out 0.2s, -webkit-transform 0.5s ease-in-out 1.4s;
  transition: opacity 0.5s ease-in-out 0.2s, -webkit-transform 0.5s ease-in-out 1.4s;
  transition: transform 0.5s ease-in-out 1.4s, opacity 0.5s ease-in-out 0.2s;
  transition: transform 0.5s ease-in-out 1.4s, opacity 0.5s ease-in-out 0.2s, -webkit-transform 0.5s ease-in-out 1.4s;
}

.list .item:nth-of-type(4) {
  -webkit-transition: transform 0.5s ease-in-out 1.6s, opacity 0.5s ease-in-out 0s;
  -webkit-transition: opacity 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 1.6s;
  transition: opacity 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 1.6s;
  transition: transform 0.5s ease-in-out 1.6s, opacity 0.5s ease-in-out 0s;
  transition: transform 0.5s ease-in-out 1.6s, opacity 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 1.6s;
}

.list .item > div, .list .item > a {
  position: relative;
  display: inline-block;
  min-width: 250px;
  padding: 25px 20px;
  color: #fff;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.list .item:before {
  content: '';
  position: absolute;
  width: 80px;
  height: 1px;
  top: -25px;
  left: 50%;
  margin: 0 0 0 -40px;
  background: #222;
  /*opacity: 0;
//			@include animation-func(opacity, .2);
			@include animation-func-full(opcity 0.2s ease-in-out 2s);*/
}

.list .item:first-child:before {
  display: none;
}

.list .item h1, .list .item h2 {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.list .item h1 {
  margin: 0;
  font: 400 20px NeoSansCyr;
}

.list .item h1 span {
  font: 400 23px CGR;
}

.list .item h2 {
  margin: 8px 0 0;
  font: 400 14px NeoSansCyr;
}

.list .item .hide {
  position: absolute;
  width: 100%;
  left: 0;
  font: 400 11px CGR;
  pointer-events: none;
  -webkit-transform: translate(0, 22px);
          transform: translate(0, 22px);
  /*&.animate {
//				@include animation-func-full(opacity 0.2s, transform 0.1s);
				@include animation-func(transform, .1);
			}*/
}

.list .item .hide span {
  opacity: 0;
  text-shadow: 0px 0px 5px #000, 0px 0px 10px #000;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.list .item.lacs h1 {
  font: 400 35px NeoSansCyr;
}

.list .item.gaming h1 {
  font: 400 35px NeoSansCyr;
}

.list .item.gaming h1 span {
  margin-left: 5px;
}

.list .item.social a {
  display: inline-block;
  width: 80px;
  min-width: auto;
  height: 100px;
  background: 50% 50% / 40px no-repeat;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.list .item.social a.instagram {
  background-image: url(../fonts/instagram.svg);
}

.list .item.social a.telegram {
  background-image: url(../fonts/telegram.svg);
}

.list .item.social a.vk {
  background-image: url(../fonts/vk.svg);
}

.list .item.social a:hover, .list .item.social a:active {
  opacity: .3;
}

.list .item > div:hover h1, .list .item > div:hover h2, .list .item > div:active h1, .list .item > div:active h2, .list .item > a:hover h1, .list .item > a:hover h2, .list .item > a:active h1, .list .item > a:active h2 {
  opacity: .3;
}

.list .item > div:hover .hide span, .list .item > div:active .hide span, .list .item > a:hover .hide span, .list .item > a:active .hide span {
  opacity: 1;
}

body.open #logo {
  visibility: hidden;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

body.open .logo-block {
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

body.open .list {
  visibility: visible;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

body.open .item {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  /*&:before {
			opacity: 1;
		}*/
}

body.open .item:nth-of-type(1) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

body.open .item:nth-of-type(2) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

body.open .item:nth-of-type(3) {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

body.open .item:nth-of-type(4) {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

/*body.desktop .list {
	height: 100vh;
}*/
@media only screen and (max-width: 430px), only screen and (max-height: 460px) {
  body {
    font-size: 12px;
  }
  #logo h1 {
    font-size: 16px;
  }
  #logo h1 span {
    font-size: 19px;
  }
  #logo h2 {
    font-size: 12px;
  }
  .list .item {
    margin: 30px 0;
  }
  .list .item h1 {
    font-size: 14px;
  }
  .list .item h1 span {
    font-size: 17px;
  }
  .list .item h2 {
    font-size: 12px;
  }
  .list .item .hide {
    font-size: 12px;
  }
  .list .item.lacs h1 {
    font-size: 34px;
  }
  .list .item.gaming h1 {
    font-size: 34px;
  }
}

@media only screen and (max-height: 385px) {
  .list {
    position: static;
  }
}
/*# sourceMappingURL=main.css.map */