.mainscreen2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--label-color-dark-primary);
  width: 375px;
  height: 812px;
}
.label-21,
.starfill-icon3 {
  position: absolute;
  display: none;
}
.starfill-icon3 {
  top: calc(50% - 17.08px);
  left: calc(50% - 12px);
  width: 23.5px;
  height: 22.45px;
}
.label-21 {
  top: calc(50% + 10.37px);
  left: calc(50% - 15px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.tab-bar-item2 {
  position: absolute;
  top: 6px;
  left: calc(50% - 34.5px);
  width: 76px;
  height: 49px;
}
.comment-icon1 {
  position: absolute;
  top: 14px;
  left: 178px;
  width: 26px;
  height: 24px;
}
.tab-bar-item3 {
  position: absolute;
  top: 6px;
  left: calc(50% + 91.5px);
  width: 76px;
  height: 49px;
}
.home-icon1,
.scroll-icon1 {
  position: absolute;
  top: 16px;
  left: 305px;
  width: 24px;
  height: 24px;
}
.home-icon1 {
  top: 13px;
  left: 53px;
}
.iphone-x-or-newer1,
.tabs1 {
  position: absolute;
  overflow: hidden;
}
.tabs1 {
  width: 100%;
  top: 461px;
  right: 2px;
  left: -2px;
  height: 49px;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--default-systemblue-light);
}
.iphone-x-or-newer1 {
  top: 0;
  left: 0;
  width: 375px;
  height: 44px;
}
.home-indicator6 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 66.5px);
  border-radius: var(--br-81xl);
  background-color: var(--label-color-light-primary);
  width: 134px;
  height: 5px;
}
.home-indicator5 {
  position: absolute;
  width: 100%;
  right: -1px;
  bottom: 0;
  left: 1px;
  height: 34px;
}
.dictation-icon1,
.emoji-icon1 {
  position: relative;
  width: 15px;
  height: 25px;
}
.emoji-icon1 {
  width: 27px;
  height: 27px;
}
.label22,
.rectangle-icon4 {
  position: absolute;
  width: 100%;
  left: 0;
}
.rectangle-icon4 {
  height: calc(100% + 1px);
  top: 0;
  right: 0;
  bottom: -1px;
  border-radius: var(--br-8xs-6);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.label22 {
  top: 26.19%;
  letter-spacing: -0.32px;
  line-height: 21px;
  display: inline-block;
}
.return1,
.space1 {
  position: absolute;
  height: 16.22%;
  width: 23.85%;
  top: 62.55%;
  right: 0;
  bottom: 21.24%;
  left: 76.15%;
  font-size: var(--desktop-link-small-size);
}
.space1 {
  width: 49.32%;
  right: 25.47%;
  left: 25.2%;
}
.div13,
.key-light2 {
  position: absolute;
  left: 0;
}
.div13 {
  height: 16.22%;
  width: 23.58%;
  top: 62.55%;
  right: 76.42%;
  bottom: 21.24%;
  font-size: var(--desktop-link-small-size);
}
.key-light2 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.delete-button-icon1 {
  position: relative;
  width: 22.66px;
  height: 16.99px;
}
.delete5,
.rectangle27 {
  position: absolute;
  right: 0;
}
.delete5 {
  height: 16.22%;
  width: 11.38%;
  top: 41.7%;
  bottom: 42.08%;
  left: 88.62%;
  font-size: var(--desktop-link-small-size);
}
.rectangle27 {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs-6);
  background-color: var(--color-gray-100);
  box-shadow: 0 1px 0#898a8d;
}
.symbol27 {
  position: absolute;
  top: calc(50% - 13px);
  left: 48.07%;
  letter-spacing: -0.55px;
}
.shift-icon1 {
  position: absolute;
  height: 39.18%;
  width: 44.95%;
  top: 29.05%;
  right: 27.29%;
  bottom: 31.77%;
  left: 27.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.shift1 {
  position: absolute;
  height: 16.22%;
  width: 11.38%;
  top: 41.7%;
  right: 88.62%;
  bottom: 42.08%;
  left: 0;
}
.symbol28 {
  position: absolute;
  top: calc(50% - 13px);
  left: 21.88%;
  letter-spacing: -0.55px;
}
.m1 {
  height: 16.22%;
  width: 8.67%;
  top: 41.7%;
  right: 14.91%;
  bottom: 42.08%;
  left: 76.42%;
}
.m1,
.n1,
.symbol29 {
  position: absolute;
}
.symbol29 {
  top: calc(50% - 13px);
  left: 25%;
  letter-spacing: -0.55px;
}
.n1 {
  height: 16.22%;
  width: 8.67%;
  top: 41.7%;
  right: 25.2%;
  bottom: 42.08%;
  left: 66.12%;
}
.symbol30 {
  top: calc(50% - 13px);
  left: 28.13%;
  letter-spacing: -0.55px;
}
.b6,
.symbol30,
.v1 {
  position: absolute;
}
.b6 {
  height: 16.22%;
  width: 8.67%;
  top: 41.7%;
  right: 35.5%;
  bottom: 42.08%;
  left: 55.83%;
}
.v1 {
  right: 45.53%;
  left: 45.8%;
}
.c1,
.v1,
.x1 {
  height: 16.22%;
  width: 8.67%;
  top: 41.7%;
  bottom: 42.08%;
}
.c1 {
  position: absolute;
  right: 55.83%;
  left: 35.5%;
}
.x1 {
  right: 65.85%;
  left: 25.47%;
}
.symbol35,
.x1,
.z1 {
  position: absolute;
}
.z1 {
  height: 16.22%;
  width: 8.67%;
  top: 41.7%;
  right: 76.15%;
  bottom: 42.08%;
  left: 15.18%;
}
.symbol35 {
  top: calc(50% - 13px);
  left: 31.25%;
  letter-spacing: -0.55px;
}
.k1,
.l2 {
  height: 16.22%;
  width: 8.67%;
}
.l2 {
  position: absolute;
  top: 20.85%;
  right: 4.88%;
  bottom: 62.93%;
  left: 86.45%;
}
.k1 {
  right: 15.18%;
  left: 76.15%;
}
.h1,
.j1,
.k1 {
  position: absolute;
  top: 20.85%;
  bottom: 62.93%;
}
.j1 {
  height: 16.22%;
  width: 8.67%;
  right: 25.2%;
  left: 66.12%;
}
.h1 {
  right: 35.5%;
  left: 55.83%;
}
.f1,
.g1,
.h1 {
  height: 16.22%;
  width: 8.67%;
}
.g1 {
  position: absolute;
  top: 20.85%;
  right: 45.53%;
  bottom: 62.93%;
  left: 45.8%;
}
.f1 {
  right: 55.83%;
  left: 35.5%;
}
.d1,
.f1,
.s1 {
  position: absolute;
  top: 20.85%;
  bottom: 62.93%;
}
.d1 {
  height: 16.22%;
  width: 8.67%;
  right: 65.85%;
  left: 25.47%;
}
.s1 {
  right: 76.15%;
  left: 15.18%;
}
.a1,
.p6,
.s1 {
  height: 16.22%;
  width: 8.67%;
}
.a1 {
  position: absolute;
  top: 20.85%;
  right: 86.18%;
  bottom: 62.93%;
  left: 5.15%;
}
.p6 {
  top: 0;
  right: 0;
  bottom: 83.78%;
  left: 91.33%;
}
.o1,
.p6,
.symbol46 {
  position: absolute;
}
.o1 {
  height: 16.22%;
  width: 8.67%;
  top: 0;
  right: 10.03%;
  bottom: 83.78%;
  left: 81.3%;
}
.symbol46 {
  top: calc(50% - 13px);
  left: 40.63%;
  letter-spacing: -0.55px;
}
.i1 {
  height: 16.22%;
  width: 8.67%;
  top: 0;
  right: 20.33%;
  bottom: 83.78%;
  left: 71%;
}
.i1,
.u1,
.y1 {
  position: absolute;
}
.u1 {
  height: 16.22%;
  width: 8.67%;
  top: 0;
  right: 30.35%;
  bottom: 83.78%;
  left: 60.98%;
}
.y1 {
  right: 40.65%;
  left: 50.68%;
}
.r1,
.t1,
.y1 {
  height: 16.22%;
  width: 8.67%;
  top: 0;
  bottom: 83.78%;
}
.t1 {
  position: absolute;
  right: 50.68%;
  left: 40.65%;
}
.r1 {
  right: 60.98%;
  left: 30.35%;
}
.e1,
.r1,
.symbol52 {
  position: absolute;
}
.e1 {
  height: 16.22%;
  width: 8.67%;
  top: 0;
  right: 71%;
  bottom: 83.78%;
  left: 20.33%;
}
.symbol52 {
  top: calc(50% - 13px);
  left: 18.75%;
  letter-spacing: -0.55px;
}
.keys1,
.q1,
.w1 {
  position: absolute;
  height: 16.22%;
  width: 8.67%;
  top: 0;
  right: 81.3%;
  bottom: 83.78%;
  left: 10.03%;
}
.keys1,
.q1 {
  right: 91.33%;
  left: 0;
}
.keys1 {
  height: 89%;
  width: 98.4%;
  top: 2.75%;
  right: 0.8%;
  bottom: 8.25%;
  left: 0.8%;
}
.keyboard {
  position: absolute;
  top: 521px;
  left: 0;
  background-color: var(--color-lightgray);
  backdrop-filter: blur(108.73px);
  width: 375px;
  height: 291px;
  text-align: center;
  font-size: var(--font-size-3xl-5);
}
.combined-shape-icon1 {
  position: absolute;
  height: 100%;
  width: calc(100% - 5px);
  top: 0;
  right: 5px;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tail-inner-edge1,
.tail-outer-edge1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 var(--br-xl);
  background-color: var(--color-lightslategray);
}
.tail-inner-edge1 {
  height: 242.11%;
  width: 170%;
  top: -121.05%;
  right: -145%;
  bottom: -21.05%;
  left: 75%;
  border-radius: 0 0 0 var(--br-sm);
}
.tail2,
.tail3 {
  width: 20px;
  height: 14px;
}
.tail3 {
  position: relative;
  background-color: var(--default-systemblue-light);
}
.tail2 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.message2 {
  position: absolute;
  width: calc(100% - 33px);
  top: 7px;
  left: 14px;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
}
.bubble,
.bubble1 {
  position: absolute;
  top: 116px;
  left: 121px;
  width: 245px;
  height: 58px;
  color: var(--label-color-dark-primary);
}
.bubble1 {
  top: 352px;
  left: 131px;
  width: 239px;
}
.combined-shape-icon3 {
  position: absolute;
  height: 100%;
  width: calc(100% - 4px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 4px;
  border-radius: var(--br-mini);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tail6,
.tail7 {
  width: 20px;
  height: 14px;
}
.tail7 {
  position: relative;
  background-color: var(--systemgray-05-light);
}
.tail6 {
  position: absolute;
  bottom: 0;
  left: 20px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.p7 {
  margin: 0;
}
.span2 {
  color: #1d19ef;
}
.message4 {
  position: absolute;
  width: calc(100% - 32px);
  top: 7px;
  left: 18px;
  letter-spacing: -0.41px;
  line-height: 22px;
  white-space: pre-wrap;
  display: inline-block;
}
.bubble2 {
  position: absolute;
  top: 183px;
  left: 3px;
  width: 343px;
  height: 161px;
  font-size: var(--font-size-sm);
}
.minus-icon {
  position: relative;
  width: 24px;
  height: 24px;
}
.text-input {
  position: absolute;
  height: 4.56%;
  width: 70.13%;
  top: 51.35%;
  right: 16.27%;
  bottom: 44.09%;
  left: 13.6%;
  border-radius: var(--br-xs);
  background-color: var(--grayscale-input);
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs) 20px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.send-icon {
  position: absolute;
  top: 426px;
  left: 329.59px;
  width: 24.41px;
  height: 24.11px;
}
.chatscreen-child {
  position: absolute;
  top: 50px;
  left: -4px;
  width: 383px;
  height: 61px;
  object-fit: cover;
}
.group-child {
  position: absolute;
  top: 6px;
  left: 0;
  background-color: var(--label-color-dark-primary);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 375px;
  height: 53px;
}
.mask-group-icon {
  position: absolute;
  top: 9px;
  left: 25px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.chip-icon,
.div14,
.div15,
.line-darkmodehamberger-menu {
  position: absolute;
  top: 21px;
  left: 334px;
  width: 24px;
  height: 24px;
}
.chip-icon,
.div14,
.div15 {
  top: 22px;
  left: 288px;
}
.div14,
.div15 {
  height: 69.86%;
  width: 73.12%;
  top: 30.14%;
  left: 26.88%;
  letter-spacing: 0.5px;
  line-height: 48px;
  font-weight: 600;
  display: inline-block;
}
.div15 {
  top: 0;
  left: 22.78%;
  font-size: var(--title3-regular-size);
  color: var(--label-color-light-primary);
}
.group-item {
  position: absolute;
  top: 42px;
  left: 100px;
  border-radius: 50%;
  background-color: var(--success-default);
  width: 10px;
  height: 10px;
}
.rectangle-parent {
  position: absolute;
  top: 44px;
  left: 0;
  width: 439px;
  height: 73px;
  font-size: var(--font-size-sm);
  color: #0019ff;
}
.attach-icon {
  position: absolute;
  top: 424.57px;
  left: 14px;
  width: 24px;
  height: 24.43px;
}
.chatscreen {
  position: relative;
  width: 100%;
  height: 812px;
  text-align: left;
  font-size: var(--large-default-body-size);
  color: var(--label-color-light-primary);
  font-family: var(--title3-regular);
}
