body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --caption1-bold: "SF Pro Text";
  --desktop-link-small: Poppins;
  --title3-regular: "SF Pro Display";
  --font-sf-pro-rounded: "SF Pro Rounded";
  --font-inherit: inherit;

  /* font sizes */
  --caption1-bold-size: 12px;
  --desktop-link-small-size: 16px;
  --font-size-3xs: 10px;
  --subheadline-regular-size: 15px;
  --font-size-5xl: 24px;
  --font-size-sm: 14px;
  --title3-regular-size: 20px;
  --footnote-regular-size: 13px;
  --large-default-body-size: 17px;
  --font-size-3xl-5: 22.5px;
  --font-size-11xl: 30px;
  --desktop-link-medium-size: 18px;
  --title2-regular-size: 22px;
  --font-size-7xl: 26px;

  /* Colors */
  --label-color-dark-primary: #fff;
  --primary-default: #610bef;
  --color-gray-100: #fcfcfe;
  --grayscale-background: #fcfcfc;
  --grayscale-header: #14142b;
  --color-gray-200: #151515;
  --color-gray-300: rgba(255, 255, 255, 0.94);
  --default-systemblue-light: #007aff;
  --label-color-light-secondary: rgba(60, 60, 67, 0.6);
  --separator-color-light-with-transparency: rgba(60, 60, 67, 0.36);
  --color-darkslategray-100: rgba(60, 60, 67, 0.3);
  --color-whitesmoke-100: rgba(237, 237, 237, 0.8);
  --color-limegreen: #00d02e;
  --label-color-light-primary: #000;
  --color-ghostwhite-100: #f2f2f7;
  --grayscale-input: #eff0f6;
  --color-lightslategray: #848e99;
  --color-lightgray: #d1d5db;
  --default-systemred-light: #ff3b30;
  --success-default: #008a00;
  --error-background-strong: #ffabe8;
  --primary-background-strong: #bfbefc;
  --warning-background-strong: #ffe6b0;
  --color-blue-100: rgba(0, 0, 255, 0.6);
  --systemgray-05-light: #e5e5ea;

  /* Gaps */
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-xs: 12px;
  --gap-smi: 13px;
  --gap-11xs: 2px;
  --gap-7xs: 6px;

  /* Paddings */
  --padding-lg: 18px;
  --padding-13xl: 32px;
  --padding-sm: 14px;
  --padding-base: 16px;
  --padding-2xs: 11px;
  --padding-7xs: 6px;
  --padding-5xs: 8px;
  --padding-4xs: 9px;
  --padding-8xs: 5px;
  --padding-29xl: 48px;
  --padding-10xs: 3px;
  --padding-xs: 12px;

  /* border radiuses */
  --br-3xl: 22px;
  --br-xs: 12px;
  --br-81xl: 100px;
  --br-21xl: 40px;
  --br-40xl-3: 59.3px;
  --br-sm: 14px;
  --br-xl: 20px;
  --br-mini: 15px;
  --br-8xs-6: 4.6px;
  --br-6xs: 7px;
  --br-5xs: 8px;

  /* Effects */
  --elevation-4: 0px 35px 40px rgba(0, 0, 0, 0.06);
}
