.mainscreen1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--label-color-dark-primary);
  width: 375px;
  height: 812px;
}
.label-2,
.starfill-icon1 {
  position: absolute;
  display: none;
}
.starfill-icon1 {
  top: calc(50% - 17.08px);
  left: calc(50% - 12px);
  width: 23.5px;
  height: 22.45px;
}
.label-2 {
  top: calc(50% + 10.37px);
  left: calc(50% - 15px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.tab-bar-item {
  position: absolute;
  top: 6px;
  left: calc(50% - 34.5px);
  width: 76px;
  height: 49px;
}
.comment-icon {
  position: absolute;
  top: 14px;
  left: 178px;
  width: 26px;
  height: 24px;
}
.tab-bar-item1 {
  position: absolute;
  top: 6px;
  left: calc(50% + 91.5px);
  width: 76px;
  height: 49px;
}
.home-icon,
.scroll-icon,
.tabs {
  position: absolute;
  top: 16px;
  left: 305px;
  width: 24px;
  height: 24px;
}
.home-icon,
.tabs {
  top: 13px;
  left: 53px;
}
.tabs {
  width: 100%;
  top: 8px;
  right: 0;
  left: 0;
  height: 49px;
  overflow: hidden;
}
.home-indicator,
.home-indicator1 {
  position: absolute;
  width: 134px;
  height: 5px;
}
.home-indicator1 {
  bottom: 0;
  left: calc(50% - 67px);
  border-radius: var(--br-81xl);
  background-color: var(--label-color-light-primary);
}
.home-indicator {
  bottom: 8px;
  left: calc(50% - 65.5px);
}
.iphone-x-or-newer,
.tab-bar {
  position: absolute;
  left: 0;
  width: 375px;
}
.tab-bar {
  top: 729px;
  background-color: rgba(255, 254, 254, 0.94);
  box-shadow: 0-0.5px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  height: 83px;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--default-systemblue-light);
}
.iphone-x-or-newer {
  top: 0;
  height: 44px;
  overflow: hidden;
}
.button1 {
  position: relative;
  letter-spacing: 0.75px;
  line-height: 28px;
  font-weight: 600;
  z-index: 6;
}
.button-primary {
  position: absolute;
  top: 321px;
  left: 22px;
  border-radius: var(--br-xs);
  background-color: #181818;
  width: 330px;
  height: 50px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-13xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  color: var(--grayscale-background);
  font-family: var(--desktop-link-small);
  z-index: 6;
}
.scaled-1-icon {
  position: absolute;
  top: 150px;
  left: 33px;
  width: 125px;
  height: 125px;
  object-fit: cover;
}
.day,
.day1 {
  position: relative;
  letter-spacing: -0.08px;
  line-height: 18px;
  font-weight: 600;
}
.day {
  display: inline-block;
  width: 32px;
  flex-shrink: 0;
}
.day1 {
  text-align: left;
}
.typedays-of-week {
  width: 279px;
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.date {
  position: absolute;
  width: 100%;
  top: calc(50% - 12px);
  left: 0;
  letter-spacing: 0.38px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.digit {
  position: relative;
  width: 40px;
  height: 40px;
}
.date1,
.date5 {
  position: absolute;
  width: 100%;
  top: calc(50% - 12px);
  left: 0.5px;
  letter-spacing: 0.38px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.date5 {
  top: calc(50% - 16px);
  height: 32px;
}
.digit5,
.digit6 {
  position: relative;
  width: 40px;
  height: 40px;
  color: #ff1010;
}
.digit6 {
  color: #ff0909;
}
.datepicker-dayrow,
.typedigits {
  display: flex;
  box-sizing: border-box;
}
.typedigits {
  width: 274px;
  height: 46px;
  flex-direction: row;
  padding: 10px 0;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: -10px;
  font-size: var(--title3-regular-size);
  color: var(--color-gray-200);
}
.datepicker-dayrow {
  position: absolute;
  top: 447px;
  left: 37px;
  border-radius: 16px;
  background-color: var(--color-ghostwhite-100);
  width: 305px;
  height: 114px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-13xl) var(--padding-13xl);
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--footnote-regular-size);
  color: var(--color-darkslategray-100);
}
.b,
.b1,
.message {
  position: absolute;
  display: inline-block;
}
.message {
  width: calc(100% - 181px);
  top: 149px;
  left: 173px;
  font-size: var(--font-size-sm);
  letter-spacing: -0.41px;
  line-height: 22px;
  color: var(--label-color-light-primary);
}
.b,
.b1 {
  height: 13.28%;
  width: 100%;
  top: 86.72%;
  left: 0;
  letter-spacing: -1.3px;
  line-height: 48px;
}
.b1 {
  top: 8.33%;
}
.p {
  margin: 0;
}
.b2,
.parent {
  position: absolute;
}
.b2 {
  height: 13.28%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: -1.3px;
  line-height: 48px;
  display: inline-block;
}
.parent {
  height: 47.29%;
  width: 85.6%;
  top: 7.14%;
  right: 5.33%;
  bottom: 45.57%;
  left: 9.07%;
  font-size: var(--font-size-5xl);
  color: var(--label-color-light-primary);
  font-family: var(--desktop-link-small);
  z-index: 2;
}
.widget1 {
  position: absolute;
  top: 143px;
  left: calc(50% - 22px);
  line-height: 16px;
  font-weight: 500;
}
.widgets,
.widgets1 {
  position: absolute;
  top: 576px;
  left: 37px;
  border-radius: var(--br-3xl);
  background-color: var(--color-ghostwhite-100);
  width: 138px;
  height: 138px;
  text-align: center;
  font-size: var(--caption1-bold-size);
  color: var(--label-color-dark-primary);
  font-family: var(--caption1-bold);
}
.widgets1 {
  left: 198px;
}
.b3,
.b4,
.div {
  position: absolute;
  display: inline-block;
}
.div {
  height: 5.91%;
  width: 14.4%;
  top: 75.49%;
  left: 73.33%;
  letter-spacing: -1.3px;
  line-height: 41px;
  font-weight: 600;
}
.b3,
.b4 {
  height: 6.28%;
  width: 34.67%;
  line-height: 48px;
  font-family: var(--desktop-link-small);
  color: var(--label-color-light-primary);
}
.b3 {
  top: 70.94%;
  left: 12.53%;
  letter-spacing: -1.3px;
}
.b4 {
  top: 70.44%;
  left: 57.33%;
}
.b4,
.lv {
  letter-spacing: -1.3px;
}
.l {
  letter-spacing: -4.8px;
}
.div1,
.l-v-l,
.lvl {
  position: absolute;
  height: 5.91%;
  line-height: 41px;
  font-weight: 600;
  display: inline-block;
}
.lvl {
  width: 34.67%;
  top: 76.23%;
  left: 13.33%;
  color: var(--label-color-light-primary);
}
.div1,
.l-v-l {
  letter-spacing: -1.3px;
}
.div1 {
  width: 34.67%;
  top: 75.49%;
  left: 56%;
  color: var(--label-color-light-primary);
}
.l-v-l {
  width: 14.4%;
  top: 82.02%;
  left: 14.67%;
}
.initials-icon {
  position: absolute;
  height: 32.36%;
  width: 44.29%;
  top: 34.83%;
  right: 28.41%;
  bottom: 32.81%;
  left: 27.3%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.initials {
  position: absolute;
  width: 64.44%;
  top: 18.56%;
  left: 17.78%;
  letter-spacing: -0.16px;
  line-height: 9.27px;
  font-weight: 500;
  display: none;
  align-items: center;
  justify-content: center;
}
.messages-avatar,
.messages-avatar-icon {
  position: absolute;
  top: 6%;
  overflow: hidden;
}
.messages-avatar {
  height: 34%;
  width: 34%;
  right: 105%;
  bottom: 60%;
  left: -39%;
  border-radius: 38.65px;
  background: linear-gradient(180deg, #f19fb4, #ee7b95);
}
.messages-avatar-icon {
  height: 90%;
  width: 90%;
  right: 5%;
  bottom: 4%;
  left: 5%;
  border-radius: var(--br-81xl);
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.contact-photo-icon,
.messages-avatar1 {
  position: absolute;
  border-radius: 59.26px;
  overflow: hidden;
}
.contact-photo-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.messages-avatar1 {
  height: 34%;
  width: 34%;
  top: 54%;
  right: -39%;
  bottom: 12%;
  left: 105%;
}
.contact-photo-icon1,
.messages-avatar2,
.messages-avatar3 {
  position: absolute;
  border-radius: var(--br-21xl);
  overflow: hidden;
}
.contact-photo-icon1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.messages-avatar2,
.messages-avatar3 {
  height: 24%;
  width: 24%;
  top: 11.56%;
  right: -25%;
  bottom: 64.44%;
  left: 101%;
}
.messages-avatar3 {
  top: 58%;
  right: 101%;
  bottom: 18%;
  left: -25%;
}
.avatars {
  position: absolute;
  top: 661px;
  left: 241px;
  border-radius: 111.11px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 7.73px;
  color: var(--label-color-dark-primary);
  font-family: var(--font-sf-pro-rounded);
}
.messages-avatar-icon1 {
  position: absolute;
  height: 5.54%;
  width: 12%;
  top: 81.03%;
  right: 57.33%;
  bottom: 13.42%;
  left: 30.67%;
  border-radius: var(--br-81xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div2,
.div3 {
  height: 5.91%;
  top: 63.79%;
  letter-spacing: -1.3px;
  line-height: 41px;
  font-weight: 600;
  display: inline-block;
}
.div2 {
  position: absolute;
  width: 8.27%;
  left: 16.27%;
}
.div3 {
  width: 6.13%;
  left: 26.67%;
}
.div3,
.div4,
.div5 {
  position: absolute;
}
.div4 {
  height: 5.91%;
  width: 6.13%;
  top: 63.79%;
  left: 67.2%;
  letter-spacing: -1.3px;
  line-height: 41px;
  font-weight: 600;
  display: inline-block;
}
.div5 {
  left: 77.6%;
}
.div5,
.div6,
.div7 {
  height: 5.91%;
  width: 6.13%;
  top: 63.79%;
  letter-spacing: -1.3px;
  line-height: 41px;
  font-weight: 600;
  display: inline-block;
}
.div6 {
  position: absolute;
  left: 59.47%;
  color: #837474;
}
.div7 {
  left: 48.27%;
  color: #d00000;
}
.div7,
.div8,
.widget3 {
  position: absolute;
}
.div8 {
  height: 5.91%;
  width: 6.13%;
  top: 63.79%;
  left: 37.07%;
  letter-spacing: -1.3px;
  line-height: 41px;
  font-weight: 600;
  display: inline-block;
}
.widget3 {
  top: 156px;
  left: calc(50% - 2.5px);
  line-height: 16px;
  font-weight: 500;
}
.day7,
.widgets2 {
  position: absolute;
  text-align: center;
}
.widgets2 {
  top: 412px;
  left: 223px;
  border-radius: var(--br-3xl) var(--br-3xl) 0 0;
  background-color: #f4f4f6;
  width: 117px;
  height: 43px;
  font-size: var(--caption1-bold-size);
  color: var(--label-color-dark-primary);
  font-family: var(--caption1-bold);
}
.day7 {
  top: 426px;
  left: 245px;
  font-size: var(--subheadline-regular-size);
  letter-spacing: -0.08px;
  line-height: 18px;
  font-weight: 600;
  color: var(--color-darkslategray-100);
  display: inline-block;
  width: 78px;
}
.sf-symbol-chevronright,
.sf-symbol-chevronright1 {
  position: absolute;
  height: 1.51%;
  width: 1.91%;
  top: 52.71%;
  right: 11.42%;
  bottom: 45.78%;
  left: 86.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sf-symbol-chevronright1 {
  height: 1.48%;
  width: 1.87%;
  right: 36.53%;
  bottom: 45.81%;
  left: 61.6%;
}
.mainscreen {
  position: relative;
  width: 100%;
  height: 812px;
  text-align: left;
  font-size: var(--desktop-link-small-size);
  color: var(--color-limegreen);
  font-family: var(--title3-regular);
}
